---
import ExperiencesPreview from "../components/ExperiencesPreview.astro";
import Layout from "../layouts/Layout.astro";
import type { Experiencias } from "../types";

const experiencias = await Astro.glob<Experiencias>("./experiencias/**/*.md");
const actual = experiencias[0];
---

<Layout title="Inicio">
  <div class="index">
    <header>
      <div class="main-title">
        <div id="title">
          <h2>La pagina personal de</h2><h1>Daniel Rodriguez</h1>
        </div>
        <div id="tag">👨🏽‍💻 Desarrollador de Software Senior</div>
      </div>
      <div class="scroll-msg">
        <span class="flecha-scroll"></span><a href="#content"
          >Scroll para seguir viendo</a
        >
      </div>
    </header>
    <div class="content" id="content">
      <div class="about-section">
        <p class="personal-description">
          Hola mi nombre es Daniel Alejandro Rodriguez Gomez, soy desarrollador
          Full Stack residido en Medellin, Colombia y llevo trabajando en mi
          carrera durante más de 4 años.
          <br />
          Me esfuerzo dia a dia en aprender y aportar en el crecimiento de los procesos
          internos de los proyectos que participo.
          <br />
          Me considero un entusiasta apasionado de la tecnología y busco crecer en
          mi desarrollo personal dia a dia con amor y disciplina.
          <br />
          💕👨🏽‍💻
        </p>
        <a class="button" href="/acerca">Ver mas...</a>
      </div>
      <div class="experiences-section">
        <h1>Experiencia Laboral</h1>
        <ExperiencesPreview actual={actual} />
      </div>
    </div>
  </div>
</Layout>

<script>
  var tag = document.querySelector("#tag");
  tag?.classList.add("active");
  var title = document.querySelector("#title");
  title?.classList.add("active");
</script>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 54px);
    gap: 3em;
    background-color: var(--c-bg2);
  }
  #title {
    transform: translateY(-50px);
    opacity: 0;
    transition: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  #title.active {
    transform: translateY(0);
    opacity: 1;
  }
  .main-title {
    color: var(--c-white);
  }
  .main-title h1 {
    font-weight: 800;
    font-size: 60px;
  }

  #tag {
    position: relative;
    --width: 0;
    width: var(--width);
    color: var(--c-white);
    background: var(--c-black);
    transition: 1s ease;
    overflow-x: hidden;
    white-space: nowrap;
  }

  #tag.active {
    --width: 270px;
  }

  #tag:hover {
    color: var(--c-black);
    background: var(--c-yellow);
  }
  .scroll-msg {
    color: var(--c-white);
    padding: 3em;
    width: 100px;
    height: 100px;
    border: 1px solid var(--c-white);
    border-radius: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  .scroll-msg a {
    cursor: pointer;
  }
  .scroll-msg:hover {
    background-color: var(--c-white);
    color: var(--c-black);
  }
  .index .content {
    margin: 3em auto;
    width: 800px;
    scroll-snap-type: y mandatory;
  }
  .personal-description {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
  }
  .about-section .button{
    margin: 3em 0;
  }
  .about-section, .experiences-section {
    margin: 10em 0;
    scroll-snap-align: start;
  }
  .about-section{
    text-align: center;
  }
</style>
