---
const currentYear = new Date().getFullYear();
---

<footer>
  <span class="footer-info">{currentYear} - Daniel Alejandro Rodriguez Gomez <br />
  </span>
</footer>

<style>
  footer {
    position: relative;
    height: 200px;
    background: var(--c-bg);
    text-align: center;
    color: var(--c-gray);
  }
  .footer-info{
    top: 5rem;
    position: relative;
  }
</style>
